SUPABASE_URL=https://tqprioqqitimssshcrcr.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxcHJpb3FxaXRpbXNzc2hjcmNyIiwicm9sZSI6ImFub2
FRONTEND_URL=http://localhost:3001
PORT=3000
